/*Polices*/

$mainFont: 'Montserrat', sans-serif;
$titleFont: 'Roboto', sans-serif;

/*Couleurs*/

$white: #ffffff;
$black: #000000;
$lightGrey: #f0f0f0;
$grey: #b2b2b2;
$lightBlue: #0166ff;
$blue: #00398f;
$darkBlue: #010630;
$green: #8ae7c3;